<div class="modal fade" id="aboutmodal" tabindex="-1" role="dialog" aria-hidden="true">
        
    <div class="modal-dialog" role="document">
            
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fa fa-info-circle" style="color:#009bda;margin:0 1rem;"></span>About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                    <img src="./img/paci.png" class="paci">
                PacApp by Eden Levy &amp; Yakov Tayar.
                <br><br>
                To create this modal dialog, we used Bootstrap JS Modal plugin.
                <br><br>
                Our main difficulty was learning the useless HTML5's canvas API. Other than that, building the entire application was pretty fun.

                
                <img src="./img/paci2.png" class="paci2">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>