<div id="login" class="detailPage slidingRight">
        <header>
            <div class="d-flex p-1 flex-row justify-content-between bar">
                <div>
                    <div class="outerBtn" style="cursor:pointer;display:inline-block;margin-right:0.25rem;margin-left:0.25rem;">
                        <div class="btn btn-primary" onclick="toggleMaster(event)" style="color:#346187;background:transparent;border:none;">
                            <span class="fas fa-2x fa-list"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="detailPageTitle">Login</h4>
                </div>
                <div class="user" style="cursor:pointer" data-container="body" data-toggle="popover" data-placement="bottom">
                    <span>
                        <img src="./img/ghost.jpg" class="profileGhost">
                    </span>
                    <span class="profile" style="margin:0 0.5rem">Hello, </span>
                    <div class="fa fa-chevron-down" style="margin-right:0.5rem"></div>
                </div>
                <div class="notuser" style="width:64px;"></div>
            </div>
        </header>
    
        <section>
            <div class="p-5">
                <form id="form_login">
                    <formelements>
                        <div class="form-group row justify-content-center">
                            <label for="inputUsernameLogin" class="col-sm-2 col-form-label required">Username</label>
                            <div class="inputContainer col-sm-4">
                                <input name="username" type="text" class="form-control" id="inputUsernameLogin" placeholder="Username"></input>
                            </div>
                        </div>
    
                        <div class="form-group row justify-content-center">
                            <label for="inputPasswordLogin" class="col-sm-2 col-form-label required">Password</label>
                            <div class="inputContainer col-sm-4">
                                <input name="password" type="password" class="form-control" id="inputPasswordLogin" placeholder="Password">
                            </div>
                        </div>
                        
                    </formelements>
    
                    <div class="form-group row justify-content-center" style="margin-top:2.25rem;">
                        <button type="submit" class="btn btn-primary mb-2 btn-lg col-sm-3 bgYellow">Login</button>
                    </div>
                </form>
    
            </div>
        </section>
    </div>