<div id="welcome" class="detailPage slidingRight">
    <header>
        <div class="d-flex p-1 flex-row justify-content-between bar">
            <div>
                <div class="outerBtn" style="cursor:pointer;display:inline-block;margin-right:0.25rem;margin-left:0.25rem;">
                    <div class="btn btn-primary" onclick="toggleMaster(event)" style="color:#346187;background:transparent;border:none;">
                        <span class="fas fa-2x fa-bars"></span>
                    </div>
                </div>
            </div>
            <div>
                <h4 class="detailPageTitle">Welcome to the Pacman App!</h4>
            </div>
            <div class="user" style="cursor:pointer" data-container="body" data-toggle="popover" data-placement="bottom">
                <span>
                    <img src="./img/ghost.jpg" class="profileGhost">
                </span>
                <span class="profile" style="margin:0 0.5rem">Hello, </span>
                <div class="fa fa-chevron-down" style="margin-right:0.5rem"></div>
            </div>
            <div class="notuser" style="width:64px;"></div>
        </div>
    </header>

    <section>
        <div class="pacBG"></div>
        <div class="container" style="height:50%;">
            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                <button class="btn welcomeBtn notuser" data-target="register" onclick="onMasterNavigate(event)">Register</button>
                <button class="btn welcomeBtn notuser" data-target="login" onclick="onMasterNavigate(event)">Login</button>
                <button class="btn welcomeBtn user" data-target="play" onclick="onMasterNavigate(event)">Play!</button>
            </div>
        </div>
    </section>


</div>